:host {
  display: block;
  margin: 0 auto;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(10, 170px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.error-container,
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
