<h1>10 * 10 Json Placeholder</h1>

<p *ngIf="(isLoading$ | async); else loaded" class="loading">Loading...</p>

<ng-template #loaded>
  <div *ngIf="(posts$ | async) as posts" class="posts-container">
    <app-post *ngFor="let post of posts" [post]="post" (nextContentEvent)="nextContent($event)">
    </app-post>
  </div>

  <div *ngIf="(isError$ | async) " class="error-container">
    <h3>Oops! Something went wrong. Please try again.</h3>
    <button (click)="reloadPage()">Reload page</button>
  </div>
</ng-template>